<div class="row">
    <div class="col-md-4">
        <a class="btn btn-primary add-story" href="" routerLink="/stories/add">Add new Story</a>
        <a class="btn btn-danger ml-1 add-story" href="" routerLink="/stories">Cancel</a>
    </div>
    <div class="col-md-4">
        <router-outlet></router-outlet>
    </div>
</div>
<div class="row">
    <ng-container *ngIf="stories">
        <div *ngFor='let story of stories | async' class="col-md-3">
            <nb-card>
                <nb-card-header>
                    <img [src]="imgStory" alt="image" class="img-story">
                </nb-card-header>
                <nb-card-body>
                    <div class="title-story">
                        <span>{{ story.title }}</span>
                    </div>
                    <div class="divider"></div>
                    <div class="subtitle-story">
                        <span>{{ story.subtitle }}</span>
                    </div>
                    <div class="divider"></div>
                    <div class="content-story">
                        <span>{{ story.content }}</span>
                    </div>
                </nb-card-body>
                <nb-card-footer>
                    <div *ngIf="story.author" class="author-story">
                        <span>By {{ story.author.username }}</span>
                    </div>
                </nb-card-footer>
            </nb-card>
        </div>
    </ng-container>
</div>