<nb-layout>
    <nb-layout-header fixed>
        <nav class="nav-mx navbar navbar-expand-lg navbar-light  ">
            <a class=" logo navbar-brand" href="#">STORYX</a>
            <div class="navbar-toggler" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <fa-icon [icon]="icone_bars"></fa-icon>
            </div>
            <div class="elements collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="" routerLink="/">Contact us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="" routerLink="/">Stories</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="" routerLink="/">About</a>
                    </li>
                    <li class="nav-item ">
                        <a class=" nav-link" href="" routerLink="/">Accueil</a>
                    </li>
                </ul>
            </div>
        </nav>
    </nb-layout-header>
    <nb-layout-column>
        <router-outlet></router-outlet>
    </nb-layout-column>
</nb-layout>